h1 {
    color: red;
    text-align: center;
}

h2 {
    text-align: center;
    color: black;
}
#home-intro{
    text-align: center;
    border: 3px solid blue;
}
#home-intro:hover{
    background-color: burlywood;
}
#p2{
    color: blue;
}